/*
Style Developed by BHUSHAN (c) 2010
*/

*{padding:0;margin:0;}

body{margin:auto;max-width:480px;background-color:#000033;color:#CCCCCC;font-size:small;font-weight:normal;font-family:Verdana,Arial,Helvetica,sans-serif;}



h1{font-size:small;font-weight:bold;}

h2{font-size:small;font-weight:normal;}

h3{font-size:small;font-weight:normal;}



.b{font-weight:bold;}

.i{font-style:italic;}

.u{text-decoration:underline;}

.o{text-decoration:overline;}

.s{text-decoration:line-through;}



.small{font-size:small;}

.smaller{font-size:smaller;}

.medium{font-size:medium;}

.large{font-size:large;}

.larger{font-size:larger;}

.float_left{float:left;}

.float_right{float:right;}

.middle{vertical-align:middle;}

.justify{text-align:justify;}

.left{text-align:left;}

.center{text-align:center;}

.right{text-align:right;}

.width95{width:95%;}

.rounded_corner{border:1px solid;-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px}





a:active,a:link{color:#99FFFF;text-decoration:none;}

a:visited{color:#99FFFF;text-decoration:none;}

a:hover{color:#11AAFF;}



a.green{color:#80ff00;}

a.green:visited{color:#80FF00;}

a.white{color:#FFFFFF;}

a.white{color:#FFFFFF;}

a.mango:visited{color:#FFCC00;}

a.mango:visited{color:#FFCC00;}

a.red{color:#FF5500;}

a.red:visited{color:#FF5500;}



a.download,a.download:visited{color:#80ff00;font-weight:bold;}

a.downloadzip,a.downloadzip:visited{color:#FFCC00;font-weight:bold;}

a.comments,a.comments:visited{color:#FF5500;font-weight:bold;}

a.user,a.user:visited{color:#CCCCCC;font-weight:normal;}



img{border:none;vertical-align:middle;}

table{width:100%;}

tr,td{}

label{font-weight:bold;}

select{border:1px solid #9999BB;padding:2px;-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;background-color:#DDD;}

textarea{margin:2px 0px 2px 0px;padding:2px;background-color:#DDD;border:1px solid #9999BB;-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px}

input{border:1px solid #9999BB;padding:2px;background-color:#DDD;margin:2px 0px 2px 0px;-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px}

input[type=text]{padding:2px;}

input[type=submit]{background-color:silver;border:1px solid gray;color:#000;padding:3px 3px 3px 3px;}

input[type=submit].ibutton{background-color:#33CCFF;border:1px solid #333355;}

input[type=submit].green{background-color:#30CC00;border:1px solid #00AA00;}



.content{background-color:#000033;}

.sub_content{padding:4px;}

.header{color:#00CCFF;background:#990000;padding:4px;}

.odd{background-color:#222244;padding:4px;}

.odd2{background-color:#223355;padding:0px 4px 0px 4px;}

.normal{background-color:#000033;padding:4px;}

.normal2{background-color:#000033;padding:0px 4px 0px 4px;}

.panel{background-color:#222222;color:#AAAAAA;text-align:center;padding:4px;}

.panel a{color:#FFFFFF;}

.copy{background-color:#990000;padding:4px;}

.footer{color:#CCCCCC;text-align:center;background-color:#FFCC00;padding:4px;}

.footer a{color:#AA0000;}